.BR,
.CBR,
.BR2,
.PBR,
.CRBR,
.LBR,
.KBR {
  background-color: $brown;
}

.BL,
.CBL,
.SB {
  background-color: $modal-bg;
}

.B {
  background-color: $b;
}

.CL,
.CCL,
.T4S,
.TVS,
.EJ {
  background-color: $cl;
}

.SR {
  background-color: $sr;
}

.R,
.AJP {
  background-color: $r;
}

.SS {
  background-color: $ss;
}

.CR,
.CSS,
.CRR,
.CRSR,
.PR,
.PR2,
.KPR,
.KLR,
.LR,
.CSR,
.PS2,
.TSS {
  background-color: $cr;
}

.CY {
  background-color: $cy;
}

.CSR {
  background-color: $csr;
}

.CSS,
.CRSS,
.PW2 {
  background-color: $css;
}

.GR {
  background-color: $gr;
}

.ED,
.CRY,
.PY2,
.PY,
.KLN {
  background-color: $ed;
  color: $modal-bg;
}

.ES {
  background-color: $es;
}

.ER {
  background-color: $er;
}

.EI,
.KLM {
  background-color: $ei;
}

.GPBR {
  background-color: $gpbr;
}

.GPB,
.CB,
.PB,
.CRB,
.KLB,
.LB {
  background-color: $gpb;
}

.KPC {
  background-color: $kpc;
}

.EIR,
.TE,
.ZI,
.ZE,
.EV,
.AJR {
  background-color: $eir;
}

.EV,
.NA,
.KRO {
  background-color: $ev;
}

.KLB {
  background-color: $klb;
}

.GPY {
  background-color: $gpy;
}

.T4,
.T3,
.TV {
  background-color: $topre;
}
