.header {
  position: sticky;
  top: 0;
  background-color: $white;
  box-shadow: 0 4px 16px rgb(20 20 21/ 50%);
  z-index: 10;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0;
    user-select: none;
  }

  &__logo {
    font-size: 36px;
    font-weight: 500;
    text-decoration: none;
    color: $black;
    cursor: $hover;
  }

  &__controls {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__search,
  &__cart {
    padding: 15px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: $hover;
    transition: .3s linear;
    &:hover {
      opacity: .6;
    }
  }

  &__search {
    background-image: url('../../icons/search.svg');
  }

  &__cart {
    position: relative;
    background-image: url('../../icons/cart.svg');
  }

  &__input {
    display: none;
    visibility: hidden;
    transition: .3s linear;
  }

  &__input_is-open {
    display: initial;
    visibility: visible;
  }

  &__count {
    position: absolute;
    top: -10px;
    left: 25px;
    font-size: 16px;
    font-weight: 400;
  }

  &__price {
    position: relative;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 500;

    &::before {
      content: '₽';
      position: absolute;
      right: 0;
    }
  }
}
