$white: #fff;
$black: #171a1c;
$grey: rgb(229, 230, 230);
$border-gray: #bfbfbf;

//product cards
$blue: rgb(0, 131, 241);
$green: rgb(104, 204, 69);
$light-gray: rgb(171, 179, 186);
$modal-bg: #000;

//switch
$brown: #915b62;
$b: #5689d5;
$cl: linear-gradient(45deg, #c7af96, #fdefd3);
$sr: linear-gradient(45deg, #ff002d, #ff9930);
$r: #ea4c6a;
$ss: linear-gradient(45deg, #b6bbc5, #92a4ce);
$cr: #e3120c;
$cy: #fcdc67;
$csr: linear-gradient(45deg, #e3120c, #ffe6cc);
$css: linear-gradient(45deg, #b6bbc5, #92a4ce);
$gr: #7fb676;
$ed: #fffd4e;
$es: #e9adb5;
$er: #c44c70;
$ei: #9bdb84;
$gpbr: #92584f;
$gpb: #3d90c7;
$kpc: #276bcc;
$eir: #354090;
$ev: #ab93c6;
$klb: #72d7fa;
$gpy: #fff388;
$sw-disabled-bg: rgb(171, 179, 186);
$sw-disabled-txt: rgb(115, 129, 140);

// AJP   - // akko cs jelly pink
// AJR   - // akko cs jelly purple
// CBL   - // cherry mx black
// CB    - // cherry mx blue
// CBR   - // cherry mx brown
// CCL   - // cherry mx silent red
// CSR   - // cherry mx speed silver
// CSS   - // cherry mx red
// R     - // cherry mx clear
// SB    - // cherry mx silent black
// GR    - // cherry mx green
// CRBR  - // gateron cap v2 crystal brown
// CRB   - // gateron cap v2 crystal blue
// CRR   - // gateron cap v2 crystal red
// CRY   - // gateron cap v2 crystal yellow
// CRSR  - // gateron cap v2 crystal silent red
// CRSS  - // gateron cap v2 crystal speed silver
// PR    - // gateron g pro red
// PBR   - // gateron g pro brown
// PB    - // gateron g pro blue
// PS2   - // gateron g pro 2 silver
// PW2   - // gateron g pro 2 white
// PY2   - // gateron g pro 2 yellow
// PR2   - // gateron g pro 2 red
// BR2   - // gateron g pro 2 brown
// PY    - // gateron g pro yellow
// LB    - // gateron low profile blue
// LBR   - // gateron low profile brown
// LR    - // gateron low profile red
// KPR   - // kailh prestige red
// KPC   - // kailh prestige clicky
// KBR   - // keychron optical low profile brown
// KLR   - // keychron optical low profile red
// KLM   - // keychron optical low profile mint
// KLN   - // keychron optical low profile banana
// KLB   - // keychron optical low profile blue
// NA    - // novelkeys x kailh box crystal navy
// KRO   - // novelkeys x kailh box crystal royal
// T4    - // topre 45g
// T4S   - // topre 45g silent
// T3    - // topre 30g
// TV    - // topre variable
// TVS   - // topre variable silent
// TSS   - // ttc speed silver
// EJ    - // varmilo ec v2 jasmine
// EIR   - // varmilo ec v2 iris
// EV    - // varmilo ec v2 violet
// ED    - // varmilo ec daisy v2
// ES    - // varmilo ec sakura v2
// ER    - // varmilo ec rose v2
// EI    - // varmilo ec ivy v2
// TE    - // zeal pc tealios v2
// ZI    - // zeal pc zilents v2 67g
// ZE    - // zeal pc zealios v2 67g