// main colors
$white: #fff;
$black: #171a1c;
$grey: rgb(229, 230, 230);
$border-gray: #bfbfbf;

//product cards
$blue: #337aaa;
$green: #42842a;
$light-gray: #6e7378;
$modal-bg: #000;

//switch
$brown: #915b62;
$b: #5689d5;
$cl: #bd9260;
$sr: #ff9930;
$r: #ea4c6a;
$ss: #b6bbc5;
$cr: #e3120c;
$cy: #fcdc67;
$csr: #a3332b;
$css: #92a4ce;
$gr: #567c50;
$ed: #fffd4e;
$es: #906a6e;
$er: #c44c70;
$ei: #5a804c;
$gpbr: #92584f;
$gpb: #337aaa;
$kpc: #276bcc;
$eir: #354090;
$ev: #7b6a90;
$klb: #72d7fa;
$gpy: #fff388;
$topre: #454d54;
$sw-disabled-bg: rgb(171, 179, 186);
$sw-disabled-txt: rgb(115, 129, 140);

// cursor
$cursor: url('../../icons/cursor/basic.svg') 10 10, auto;
$hover: url('../../icons/cursor/hover.svg') 10 10, auto;


// text 
$text-gray: #6e7378;

// laoder 
$loader-grey: rgba(229, 230, 230, .65);
