// https://codeguide.maxgraph.ru/ --- порядок свойств

@import 'fonts';
@import 'vars';
@import 'header';
@import '../store/home';
@import '../filtres/filters';
@import '../store/store';
@import '../cart/cart';
@import '../product/product';
@import '../product/switches';
@import 'footer';
@import 'load';

* {
  cursor: $cursor;
}

html {
  font-family: 'Nunito', monospace;
  scroll-behavior: smooth;
}

button {
  user-select: none;
  outline: none;
}

input {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body {
  position: relative;
  margin: 0;
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: $grey;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 2px rgb(20 20 21 / 25%);
  }

  &::-webkit-scrollbar-thumb {
    height: 40px;
    background-image: url('../../icons/scroll.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $grey;
  font-family: 'Nunito', monospace;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1520px;
}

.view {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 20px;

  &__table,
  &__list {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    cursor: $hover;
    transition: .3s linear;
  }

  &__table {
    background-image: url('../../icons/table.svg');
  }

  &__list {
    background-image: url('../../icons/list.svg');
  }

  &__table_active,
  &__list_active {
    border-color: $blue;
  }

}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $loader-grey;
  backdrop-filter: blur(5px);
  animation: cube;
  z-index: 11;

  &__title {
    position: absolute;
    top: 60%;
    left: 50%;
    font-family: 'Nunito', monospace;
    font-size: 32px;
    font-weight: 700;
    color: $black;
    transform: translateX(-50%);
    z-index: 12;
  }

  .cube {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -49%);
    z-index: 12;
  }
}

@media (max-width: 1601px) {
  .container {
    padding: 10px;
    max-width: 980px;
  }
}
