// https://codeguide.maxgraph.ru/ --- порядок свойств

@import 'fonts';
@import 'header';
@import '../store/home';
@import '../filtres/filters';
@import '../store/store';
@import '../cart/cart';
@import 'footer';
@import 'vars';

body {
  margin: 0;
}

button {
  user-select: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $grey;
  font-family: 'Nunito', monospace;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1520px;
}
