$white: #fff;
$black: #171a1c;
$grey: rgb(229, 230, 230);
$border-gray: #bfbfbf;

//product cards
$blue: rgb(0, 131, 241);
$green: rgb(104, 204, 69);
$light-gray: rgb(171, 179, 186);
$modal-bg: #000;

//switch
$brown: #915b62;
$b: #5689d5;
$cl: linear-gradient(45deg, #c7af96, #fdefd3);
$sr: linear-gradient(45deg, #ff002d, #ff9930);
$r: #ea4c6a;
$ss: linear-gradient(45deg, #b6bbc5, #92a4ce);
$cr: #e3120c;
$cy: #fcdc67;
$csr: linear-gradient(45deg, #e3120c, #ffe6cc);
$css: linear-gradient(45deg, #b6bbc5, #92a4ce);
$sw-disabled-bg:  rgb(171, 179, 186);
$sw-disabled-txt:  rgb(115, 129, 140);