@import '../global/vars';

.filters {
  display: none;
  flex-shrink: 0;
  margin: 0;
  padding: 20px 0;
  width: 320px;
  height: 500px;
  visibility: hidden;
  transform: .3s linear;
  list-style: none;
  text-align: initial;

  .filter {
    &__title {
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      color: $black;
      user-select: none;
    }
  }
}

.store__wrapper_is-open {
  .filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    visibility: visible;
  }

  @media (max-width: 1401px) {
    .store__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
